.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    background-color: white;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }

  body h2{
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
  }

  body {
    background-color: #ef6817;
  }

  nav {
    width: 100%;
}

.warpNav {
    height: 70px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 0 80px;
    flex-wrap: wrap;
}

nav h1 {
    color: #ef6817;
}

.bntNav a {
    text-decoration: none;
    color: #ef6817;
}

.bntNav {
    display: flex;
    gap: 30px;
}