body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ef6817;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 20px;
    flex-direction: column;
  }

  body h1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    font-family:'Courier New', Courier, monospace;
    margin: 0;
    padding: 20px;
    flex-direction: column;
    border-radius: 20px 20px 20px 20px;
  }
  body h2{
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 10px 10px 50% 50%;
  }

  

 
 /* a{
    align-items: center;
    justify-content: center;
    background-image: url('asset/dimanaalfian.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    margin: 0;
    padding: 1000px;
    flex-direction: column;
 }  */

    a { font: 14px sans-serif; color: #0066CC; text-decoration: none; }

#fixed { position: relative; float: left; }
#fluid { position: relative; }

#fixed a { position: absolute; background-color: rgba(0, 0, 0, 0.5); }
#fluid a { position: absolute; background-color: rgba(0, 0, 0, 0.5); }

#fixed img { vertical-align: bottom; }
#fluid img { display: block; ; width: 100%; height: auto; }

.clear { clear: both; }
  
  /* .button1 {background-color: #04AA6D;} /* Green */
  /* .button2 {background-color: #008CBA;} Blue */ */
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  /* button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
	 margin: 4px 2px;
    cursor: pointer;
  }
   */
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }

  .buble {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid black;
    border-radius: 25px 25px 25px 25px ;
  }

  .buble p{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid black;
    border-radius: 30px 30px 30px 30px ;
  }

  nav {
    width: 100%;
}

.warpNav {
    height: 70px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 0 80px;
    flex-wrap: wrap;
}

nav h1 {
    color: #ef6817;
}

.bntNav a {
    text-decoration: none;
    color: #ef6817;
}

.bntNav {
    display: flex;
    gap: 30px;
}